/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f4f4f4;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #e2e2e2;
}

td img.user-photo {
    max-width: 100px;
    /* Adjust the size as needed */
    max-height: 100px;
    /* Adjust the size as needed */
    display: block;
    margin: 0 auto;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Style for pagination controls */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 15px;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination span {
    font-size: 16px;
    line-height: 2;
    margin: 0 10px;
}

/* Style for the Add User button */
.add-user-container {
    margin-bottom: 20px;
    text-align: right;
    /* Align the button to the right */
}

.add-user-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-user-button:hover {
    background-color: #0056b3;
}

/* Style for the No Data Found message */
.no-data-message {
    text-align: center;
    font-size: 18px;
    color: red;
    margin-top: 20px;
}
